<div class="card border-0 w-50">
    <div class="card-body">

        <div class="center">
            <h2> {{ cityName }} </h2>
        </div>        

        <app-detailed-weather [weather]="cityWeather.weather"
                              [unit]="unit">></app-detailed-weather>

        <div class="card-actions center border-top pt-2">
            <a class="btn btn-primary clean-text margin-rigth" (click)="onToggleBookmark()">
                {{ isFavorite ? 'Remove from bookmarks' : 'Add to bookmarks' }}
            </a>
            <a class="btn btn-primary clean-text" 
               routerLink="/details"
               [queryParams]="{ lat: cityWeather.city.coord.lat, lon: cityWeather.city.coord.lon }">
                See details
            </a>
        </div>
    </div>
</div>